{% extends "base.html" %}

{% block content %}
<h1>Katalog tvůrců</h1><hr>
    {% if perms.viewer.add_create %}
        <a href="{% url 'creator_create' %}" class="btn btn-primary">Přidat</a>
    <hr>
    {% endif %}
    {% for creator in object_list %}
        <li class="movie-item">
            <a href="{% url 'creator' creator.id %}">{{ creator }}</a>
            <div class="actions">
                {% if perms.viewer.change_create %}
                    <a href="{% url 'creator_update' creator.id %}"> 📝️</a>
                {% endif %}
                {% if perms.viewer.delete_create %}
                    <a href="{% url 'creator_delete' creator.id %}"> 🗑️️</a>
                {% endif %}
            </div>
        </li>
        <hr>
    {% endfor %}
{% endblock %}