<footer class="text-center text-white bg-dark p-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-column text-left">
                <h5 class="footer-title">Režim:</h5>
                <button class="btn btn-outline-light" id="toggle-dark-mode">🌑</button>
            </div>
            <div class="col-md-4 footer-column">
                <h5 class="footer-title text-left">Užitečné:</h5>
                <ul class="footer-links text-left">
                    <li><a href="{% url 'login' %}" class="text-white text-left">🔒 <u>Přihlásit</u></a></li>
                    <li><a href="{% url 'signup' %}" class="text-white text-left">📝 <u>Registrovat</u></a></li>
                    <li><a href="{% url 'password_reset' %}" class="text-white text-left">🔑 <u>Zapomenuté heslo</u></a></li>
                </ul>
            </div>
            <div class="col-md-4 footer-column text-right">
                <h5 class="footer-title">HollyMovies</h5>
                <span>Všechny práva vyhrazené.</span><br>
                <span>
                    <a href="https://sdacademy.cz/" target="_blank" class="text-white" style="text-decoration: none;"><u>SDAcademy</u></a>
                </span><br>
                <span>PythonRemoteCZ24 - Backend technologies</span>
            </div>
        </div>
    </div>
</footer>