<footer class="container text-center bg-dark p-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-column text-left">
                <h5 class="footer-title">Režim:</h5>
                <button class="btn btn-outline-light" id="toggle-dark-mode">🌑</button>
            </div>
            <div class="col-md-4 footer-column">
                <h5 class="footer-title text-left">Užitečné:</h5>
                {% if user.is_authenticated %}
                    <ul class="footer-links text-left">
                        <li><a href="{% url 'logout' %}">👋 <u>Odhlásit</u></a></li>
                        <li><a href="{% url 'password_change' %}">🔑 <u>Změna hesla</u></a></li>
                    </ul>
                {% else %}
                    <ul class="footer-links text-left">
                        <li><a href="{% url 'login' %}">🔒 <u>Přihlásit</u></a></li>
                        <li><a href="{% url 'signup' %}">📝 <u>Registrovat</u></a></li>
                        <li><a href="{% url 'password_reset' %}">🔑 <u>Zapomenuté heslo</u></a></li>
                    </ul>
                {% endif %}
            </div>
            <div class="col-md-4 footer-column text-right">
                <h5 class="footer-title">HollyMovies</h5>
                <span class="footer-text-ordinary">Všechny práva vyhrazené.</span><br>
                <span class="footer-links">
                    <a href="https://sdacademy.cz/" target="_blank" style="text-decoration: none;"><u>SDAcademy</u></a>
                </span><br>
                <span class="footer-text-ordinary">PythonRemoteCZ24 - Backend technologies</span>
            </div>
        </div>
    </div>
</footer>
