<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container fixed">
        <a class="navbar-brand" href="/">HollyMovies</a>
        <button
            class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarNavAltMarkup"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item-btn-up" href="{% url 'home' %}">Home</a>
                <a class="nav-item-btn-up" href="{% url 'movies' %}">Filmy</a>
                <a class="nav-item-btn-up" href="{% url 'creators' %}">Tvůrci</a>
                <a class="nav-item-btn-up" href="{% url 'genres' %}">Žánry</a>
                <a class="nav-item-btn-up" href="{% url 'countries' %}">Země</a>

                {% if perms.viewer.add_create or perms.viewer.add_movie or perms.viewer.add_country or perms.viewer.add_genre %}
                    <div class="navbar-nav">
                        <div class="nav-item dropdown">
                            <a class="nav-item btn btn-light mx-1 nav-user" href="#" data-toggle="dropdown">Přidat</a>
                            <div class="dropdown-menu">
                                {% if perms.viewer.add_create %}
                                    <a class="dropdown-item" href="{% url 'creator_create' %}">tvůrce</a>
                                {% endif %}
                                {% if perms.viewer.add_movie %}
                                    <a class="dropdown-item" href="{% url 'movie_create' %}">film</a>
                                {% endif %}
                                {% if perms.viewer.add_country %}
                                    <a class="dropdown-item" href="{% url 'country_create' %}">země</a>
                                {% endif %}
                                {% if perms.viewer.add_genre %}
                                    <a class="dropdown-item" href="{% url 'genre_create' %}">žánr</a>
                                {% endif %}
                                {% if perms.viewer.add_image %}
                                    <a class="dropdown-item" href="{% url 'image_create' %}">obrázek</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="navbar-nav ml-auto">
                <div class="nav-item dropdown">
                    {% if user.is_authenticated %}
                        <a class="nav-item btn btn-light mx-1 nav-user" href="#" data-toggle="dropdown">
                            {{ user.username }}
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item text-left" href="{% url 'logout' %}">👥 Odhlásit</a>
                            <a class="dropdown-item text-left" href="{% url 'password_change' %}">Změna hesla</a>
                        </div>
                    {% else %}
                        <a class="nav-item btn btn-light mx-1 nav-user" href="#" data-toggle="dropdown">👥 Můj účet</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item text-left" href="{% url 'login' %}">Přihlásit</a>
                            <a class="dropdown-item text-left" href="{% url 'signup' %}">Registrovat</a>
                                                        <a class="dropdown-item text-left" href="{% url 'password_reset' %}">Zapomenuté heslo</a>
                        </div>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
</nav>
